*{
  margin      : 0;
  padding     : 0;
  box-sizing  : border-box;
}


.heading {
  font-family         : "Edu TAS Beginner", sans-serif;
  font-optical-sizing : auto;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 4rem;
}


/*                   background image <main>
*/
 main{
  background-image    : url("/assets/img/cork.png");
  
 }
/*          polaroid class
*/

.polaroid{
  padding           : 20px;
  background-color  : white;
  position          : relative;
}
 
.polaroid-image{
  display          : flex;
  justify-content  : center;
  align-items      : center;
  background-color: aqua; /* debug color because my image is transparent */
}

.pin{
  position:absolute;
  top:0;
  left:50%;
  transform: translate(-18px,-9px);  
}
.polaroid-image img{
  width            : 100%;
}

.polaroid-title{
  font-family: "Edu TAS Beginner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.polaroid-description{
  font-family: "Edu TAS Beginner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.polaroid-date{
  font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



