*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  font class declaration
*/
.edu-tas-beginner-400 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.edu-tas-beginner-900 {
  font-family         : "Edu TAS Beginner", sans-serif;
  font-optical-sizing : auto;
  font-weight         : 900;
  font-style          : normal;
}

.sometype-mono-400 {
  font-family         : "Sometype Mono", monospace;
  font-optical-sizing : auto;
  font-weight         : 400;
  font-style          : normal;
}

/*                   background image <main>
*/
 main{
  background-image    : url("/assets/img/cork.png");
  
 }
